<!DCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<title>Post - CW</title>
	<script type="text/javascript" src="./javascripts/ueditor/editor_config.js"></script>
	<script type="text/javascript" src="./javascripts/ueditor/editor_all.js"></script>
	<link rel="stylesheet" href="/javascripts/ueditor/themes/default/ueditor.css"/>
	<link rel="stylesheet" type="text/css" media="screen"  href="/stylesheets/style.css" />
</head>
<body>
	<div id="wrapper">
		<h2 id="title">Miaoo's World</h2>
		<form id="myForm" action="/new" method="post">
			<table border="0" cellspacing="0" cellpadding="5">
				<tbody>
					<tr>
						<td width="80" align="right">
							<span class="label">Title</span>
						</td>
						<td width="400" align="left">
							<input name="title" type="text" />
						</td>
					</tr>
					<tr>
						<td width="80" align="right">
							<span class="label">Url</span>
						</td>
						<td width="400" align="left">
							<input name="url" type="text" />
						</td>
					</tr>
					<tr>
						<td width="80" align="right">
						</td>
						<td width="800" align="left">
		    				<script type="text/plain" id="myEditor"></script>
							<script type="text/javascript">
				    			var editor = new baidu.editor.ui.Editor({
					        		textarea:'myValue'
							    });
								editor.render("myEditor");
							</script>
						</td>
					</tr>
					<tr>
						<td width="80" align="right">
							<span class="label">Tag</span>
						</td>	
						<td width="400" align="left">
							<input name="tag" type="text">
						</td>
					</tr>
					<tr>
						<td width="80" align="right">
						</td>
						<td width="400" align="left">
							<input value="Submit" type="submit" />
						</td>
						
					</tr>
			
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>

